.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  color: white;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.counter button {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel {
  background: gray;
  padding: 10px;
}

.continue {
  background: #3b82f6;
  padding: 10px;
  color: white;
}